<h2>Music Library</h2>

<% @artists.each do |artist| %>
  <p><font color="black" size="6"><%= artist.name() %></font></p>
<% @albums.each do |album| %>
  <p><%= album.name() %></p>
  <% end %>
      <hr>
    <% end %>