<!DOCTYPE html>
<html>
<head>
  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Wendy+One" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>